{% extends 'default/dashboard.html' %}

{% block title %}Documentation |{% endblock %}

{% block content-head %}
    {% include 'parts/content-head.html' with next='Documentation' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-body p-10">
                <!--begin::Row-->
                <div class="row">
                    <div class="col-lg">
                        <h3>Documentation of existed functions</h3>
                        <div class="callout">
                            <p>It is recommended to be reviewed in detail for further usage</p>
                        </div>
                        <p></p>
                        {% for item in data %}
                            <!--begin::Tab Content-->
                            <div class="tab-content" id="{{ item.func }}" style="margin-bottom: 10px;">
                                <!--begin::Item-->
                                <div class="card border-top-0">
                                    <div class="card-header">
                                        <strong>{{ item.func|title }}</strong>
                                    </div>
                                    <div class="card-body text-dark-50 font-size-lg pl-12"><p>
                                        <b>Function: </b>{{ item.func }}</p>
                                        <p><strong>Current state: </strong>{{ item.state }}</p>
                                        <p><strong>What it can do: </strong>{{ item.can }}</p>
                                        <p><strong>How to use in code (in general): </strong>{{ item.use }}</p>
                                        <p><strong>Access in code (after using): </strong>{{ item.access }}</p>
                                    </div>
                                </div>
                                <!--end::Item-->
                            </div>
                        {% endfor %}
                        <!--end::Tab Content-->
                    </div>
                </div>
                <!--end::Row-->
            </div>
        </div>
    </div>
{% endblock %}
