<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
    <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1"
         data-ktmenu-dropdown-timeout="500">
        <ul class="kt-menu__nav ">
            <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true">
                <a href="{% url 'main:dashboard' %}" class="kt-menu__link ">
                    <span class="kt-menu__link-icon">
                         <i class="fa fa-layer-group"></i>
                    </span>
                    <span class="kt-menu__link-text">Dashboard</span>
                </a>
            </li>
{#            <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true">#}
{#                <a href="{% url 'main:faq' %}" class="kt-menu__link ">#}
{#                    <span class="kt-menu__link-icon">#}
{#                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"#}
{#                             height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">#}
{#                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
{#                                <rect x="0" y="0" width="24" height="24"/>#}
{#                                <circle fill="#000000" opacity="0.3" cx="12" cy="9" r="8"/>#}
{#                                <path d="M14.5297296,11 L9.46184488,11 L11.9758349,17.4645458 L14.5297296,11 Z M10.5679953,19.3624463 L6.53815512,9 L17.4702704,9 L13.3744964,19.3674279 L11.9759405,18.814912 L10.5679953,19.3624463 Z"#}
{#                                      fill="#000000" fill-rule="nonzero" opacity="0.3"/>#}
{#                                <path d="M10,22 L14,22 L14,22 C14,23.1045695 13.1045695,24 12,24 L12,24 C10.8954305,24 10,23.1045695 10,22 Z"#}
{#                                      fill="#000000" opacity="0.3"/>#}
{#                                <path d="M9,20 C8.44771525,20 8,19.5522847 8,19 C8,18.4477153 8.44771525,18 9,18 C8.44771525,18 8,17.5522847 8,17 C8,16.4477153 8.44771525,16 9,16 L15,16 C15.5522847,16 16,16.4477153 16,17 C16,17.5522847 15.5522847,18 15,18 C15.5522847,18 16,18.4477153 16,19 C16,19.5522847 15.5522847,20 15,20 C15.5522847,20 16,20.4477153 16,21 C16,21.5522847 15.5522847,22 15,22 L9,22 C8.44771525,22 8,21.5522847 8,21 C8,20.4477153 8.44771525,20 9,20 Z"#}
{#                                      fill="#000000"/>#}
{#                            </g>#}
{#                        </svg>#}
{#                    </span>#}
{#                    <span class="kt-menu__link-text">Documentation</span>#}
{#                </a>#}
{#            </li>#}
            <hr>
            <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true">
                <a href="{% url 'main:create-unit' %}" class="kt-menu__link ">
                    <span class="kt-menu__link-icon">
                         <i class="fa fa-robot"></i>
                    </span>
                    <span class="kt-menu__link-text">Create - Unit</span>
                </a>
            </li>
            <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true">
                <a href="{% url 'main:list-unit' %}" class="kt-menu__link ">
                    <span class="kt-menu__link-icon">
                         <i class="fa fa-list"></i>
                    </span>
                    <span class="kt-menu__link-text">List - Unit</span>
                </a>
            </li>
{#            <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true">#}
{#                <a href="{% url 'main:create-unit-code' %}" class="kt-menu__link ">#}
{#                    <span class="kt-menu__link-icon">#}
{#                         <i class="fa fa-code"></i>#}
{#                    </span>#}
{#                    <span class="kt-menu__link-text">Create - Unit code</span>#}
{#                </a>#}
{#            </li>#}
{#            <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true">#}
{#                <a href="{% url 'main:list-unit-code' %}" class="kt-menu__link ">#}
{#                    <span class="kt-menu__link-icon">#}
{#                         <i class="fa fa-list"></i>#}
{#                    </span>#}
{#                    <span class="kt-menu__link-text">List - Unit code</span>#}
{#                </a>#}
{#            </li>#}
            <hr>
            <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true">
                <a href="{% url 'main:launch-unit' %}" class="kt-menu__link ">
                    <span class="kt-menu__link-icon">
                        <i class="fa fa-rocket"></i>
                    </span>
                    <span class="kt-menu__link-text">Launch Unit</span>
                </a>
            </li>
            <hr>
            <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true">
                <a href="{% url 'main:collected-unit-data' %}" class="kt-menu__link ">
                   <span class="kt-menu__link-icon">
                        <i class="fa fa-dolly-flatbed"></i>
                    </span>
                    <span class="kt-menu__link-text">Collected Data</span>
                </a>
            </li>
            <hr>
{#            <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true">#}
{#                <a href="{% url 'main:support' %}" class="kt-menu__link ">#}
{#                    <span class="kt-menu__link-icon">#}
{#                        <i class="fa fa-shield-alt"></i>#}
{#                    </span>#}
{#                    <span class="kt-menu__link-text">Support</span>#}
{#                </a>#}
            </li>
        </ul>
    </div>
</div>