{% extends 'default/dashboard.html' %}

{% block title %}Update Unit |{% endblock %}

{% block content-head %}
    {% include 'parts/content-head.html' with next='Update Unit' %}
{% endblock %}

{% load widget_tweaks %}

{% block content %}
    <div class="alert alert-light" role="alert">
        <div class="alert-text">Update your unit
        </div>
    </div>
    {% if form_unit.errors %}
        <div class="alert alert-custom alert-warning fade show mb-5" role="alert">
            <div class="alert-icon">
                <i class="flaticon-warning"></i>
            </div>
            {% for field in form_unit %}
                {% if field.errors %}
                    <div class="alert-text">{{ field.label }}: {{ field.errors|striptags }}</div>
                {% endif %}
            {% endfor %}
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                    <i class="flaticon2-cross"></i>
                </span>
                </button>
            </div>
        </div>
    {% elif form_code.errors %}
        <div class="alert alert-custom alert-warning fade show mb-5" role="alert">
            <div class="alert-icon">
                <i class="flaticon-warning"></i>
            </div>
            {% for field in form_code %}
                {% if field.errors %}
                    <div class="alert-text">{{ field.label }}: {{ field.errors|striptags }}</div>
                {% endif %}
            {% endfor %}
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                    <i class="flaticon2-cross"></i>
                </span>
                </button>
            </div>s
        </div>
    {% endif %}


    <form class="form" method="post">
        {% csrf_token %}
        <div class="card-body">
            <strong>Unit</strong>
            <hr>
            <div class="form-group">
                <label>Nickname:</label>
                {% render_field form_unit.nickname class+="form-control form-control-solid" placeholder="Enter name" %}
                {#                <input type="text" name="nickname" class="form-control form-control-solid"/>#}
            </div>
            <div class="form-group">
                <label>Small description:</label>
                {% render_field form_unit.description class+="form-control form-control-solid" placeholder="Enter name" %}
                {#                <input type="text" name="description" class="form-control form-control-solid"/>#}
            </div>
            <strong>Program</strong>
            <hr>
            <div class="form-group">
                <label>Code:</label>
                {% render_field form_code.code class+="form-control form-control-solid" %}
                {#                <input type="text" name="description" class="form-control form-control-solid"/>#}
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary mr-2">Update</button>
        </div>

    </form>
{% endblock %}